<!DOCTYPE html>
<html lang="en" ng-app="clone">

    <head>
        <meta charset="utf-8">
        <!-- movile friendly -->
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Reddit Clone</title>
        <!-- angularjs -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.js"></script>

        <!-- jquery -->
        <script src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>
        <!-- bootstrap -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" charset="utf-8"></script>
        <!-- fontawesome -->
        <script src="https://use.fontawesome.com/405a0adae2.js"></script>

        <script src="app.js" charset="utf-8"></script>
        <link rel="stylesheet" href="style.css">
    </head>

    <body>
        <div ng-controller="redditClone as clone">
            <header>
                <nav class="navbar navbar-default">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="#">Reddit Clone</a>
                        </div>

                        <div class="collapse navbar-collapse" id="navbar-collapse-1">
                            <!-- submit post button -->
                            <ul class="nav navbar-nav">
                                <button class="btn btn-primary" ng-model="showMe" ng-click="generate()"><a href="#" role="button"><i class="fa fa-plus" aria-hidden="true"></i> Submit Post</a></button>

                            </ul>
                            <form class="navbar-form navbar-left" role="search">
                                <!-- search by -->
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <i class="fa fa-search"></i> </div>
                                        <input type="text" class="form-control" placeholder="Search" ng-model="searchPost">
                                    </div>
                                </div>
                            </form>
                            <ul class="nav navbar-nav navbar-right">
                                <!-- ng-click="sortReverse=!sortReverse" -->
                                <!-- ; sortReverse=!sortReverse -->
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    Sort By  <span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#" ng-click="sortReverse=!sortReverse">vote</a></li>
                                        <li><a href="#" ng-click="sortReverse=!sortReverse">Date</a></li>
                                        <li><a href="#" ng-click="sortReverse=!sortReverse">Title</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#" ng-click="sortReverse=!sortReverse"></a>
                                    <span ng-if="!sortReverse" class="glyphicon glyphicon-chevron-up"></span>
                                    <span ng-if="sortReverse" class="glyphicon glyphicon-chevron-up"></span>

                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </header>

            <form name="userForm" ng-if="showMe" class="my-form">
                <div class="form-group" required>
                    <label for="title">Title: </label>
                    <input type="text" name="title" ng-model="clone.title" ng-minlength="3" placeholder="Title" required>
                    <span class="error" ng-show="userForm.title.$error.minlength">A Title is Required to be at least 3 characters</span>

                    <label for="author">Author</label>
                    <input type="text" name="author" ng-model="clone.author" placeholder="Author" required>
                    <span class="error" ng-show="userForm.author.$error.required">An author is Required </span>


                    <label for="img">Image Url</label>
                    <input type="url" name="img" ng-model="clone.img" placeholder="Image Url" required>
                    <span class="error" ng-show="userForm.img.$error.required">Please introduce a valid URL </span>


                    <label for="description">Description</label>
                    <input type="text" name="description" ng-model="clone.description" ng-minlength="3" ng-maxlength="200" placeholder="Description" required>
                    <span class="error" ng-show="userForm.description.$error.required">A description is Required </span>
                    <span class="error" ng-show="userForm.description.$error.minlength">A description has to be at least 3 characters </span>
                    <span class="error" ng-show="userForm.description.$error.maxlength">The description can't be longer than 200 characters </span>

                    <button ng-click="addPost()" class="btn btn-primary">Submit Post</button>

                </div>
            </form>

            <div class="container">
                <div class="jumbotron middle" ng-repeat="post in posts | orderBy:sortType:sortReverse | filter:searchPost">
                    <h3><div class="title">
                    <span class="sortType" ng-show="sortType==='title'" >{{post.title}}</span>
                </div></h3>

                    <div>
                        <span>Created by: {{post.author}}</span>

                    </div>

                    <div>
                        <img ng-src="{{post.img}}">

                    </div>

                    <div>
                        <span>{{post.description}}</span>

                        <div class="media-body" ng-model="view.enterCount">
                            <button ng-click="view.enterCount = view.enterCount + 1"><i class="fa fa-thumbs-up" aria-hidden="true"></i> {{view.enterCount}}</button>
                            <button ng-click="view.enterCount2 = view.enterCount2 -1"><i class="fa fa-thumbs-down" aria-hidden="true"> {{view.enterCount2}}</i></button>
                        </div>

                        <h3><i class="fa fa-calendar" aria-hidden="true"></i> Created: {{rightNow|date:"fullDate"}}</h3>
                        <a ng-click="view.enterCount3"><i class="fa fa-comment" aria-hidden="true"> {{view.enterCount3}} Comments </i></a>
                        <a ng-click="addComment()"><i class="fa fa-pencil" aria-hidden="true"> Add Comments</i></a>

                        <div ng-repeat="comment in comments">
                            <label for="comment">Comments</label>
                            <input type="text" name="comment" ng-model="clone.comment" placeholder="comment" validate>
                            <span ng-show="">{{newComment.comment}}</span>
                            <button>Save</button>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </body>

</html>
