<!DOCTYPE html>
<html lang="en" ng-app="clone">

    <head>
        <meta charset="utf-8">
        <!-- movile friendly -->
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Reddit Clone</title>
        <!-- angularjs -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
        <!-- jquery -->
        <script src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>
        <!-- bootstrap -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" charset="utf-8"></script>
        <!-- fontawesome -->
        <script src="https://use.fontawesome.com/405a0adae2.js"></script>

        <script src="app.js" charset="utf-8"></script>
        <link rel="stylesheet" href="style.css">
    </head>

    <body>
        <div ng-controller="redditClone as myClone">
            <header>
                <nav class="navbar navbar-default">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="#">Reddit Clone</a>
                        </div>

                        <div class="collapse navbar-collapse" id="navbar-collapse-1">
                            <ul class="nav navbar-nav">
                                <button ng-model="showMe" ng-click="generate()"><a href="#" role="button"><i class="fa fa-plus" aria-hidden="true"></i> Submit Post</a></button>

                            </ul>
                            <form class="navbar-form navbar-left" role="search">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Search">
                                </div>
                            </form>
                            <ul class="nav navbar-nav navbar-right">
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    Sort By  <span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li ng-click="sortBy('votes')"><a href="#">Votes</a></li>
                                        <li ng-click="sortBy('date')"><a href="#">Date</a></li>
                                        <li ng-click="sortBy('title')"><a href="#">Title</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </header>

            <form name="userForm" novalidate ng-if="showMe">
                <div class="form-group">
                    <label for="title">Title</label>
                    <input type="text" name="title" ng-model="clone.title" placeholder="Title" validate>

                    <label for="author">Author</label>
                    <input type="text" name="author" ng-model="clone.author" placeholder="Author" validate>

                    <label for="img">Image Url</label>
                    <input type="text" name="img" ng-model="clone.img" placeholder="Image Url" validate>

                    <label for="description">Description</label>
                    <input type="text" name="description" ng-model="clone.description" placeholder="Description" validate>

                    <button ng-click="addPost()" class="btn btn-primary">Submit Post</button>

                </div>
            </form>


            <div class="jumbotron middle">

                <div class="media">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object" src="https://img.buzzfeed.com/buzzfeed-static/static/2015-02/19/10/campaign_images/webdr07/17-puppies-who-are-so-cute-they-will-make-you-mad-2-30501-1424359138-6_dblbig.jpg" alt="puppy">
                        </a>
                    </div>
                    <div class="media-body" ng-model="view.enterCount">
                        <h2 class="media-heading">Taco </h2>
                        <button ng-click="view.enterCount = view.enterCount + 1"><i class="fa fa-thumbs-up" aria-hidden="true"></i> {{view.enterCount}}</button>
                        <button ng-click="view.enterCount2 = view.enterCount2 -1"><i class="fa fa-thumbs-down" aria-hidden="true"> {{view.enterCount2}}</i></button>
                    </div>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                        in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                    <h3><i class="fa fa-calendar" aria-hidden="true"></i> Created: {{rightNow|date:"fullDate"}}</h3>
                    <a ng-click="view.enterCount3"><i class="fa fa-comment" aria-hidden="true"> {{view.enterCount3}} Comments </i></a>
                    <a ng-click="addComment()"><i class="fa fa-pencil" aria-hidden="true"> Add Comments</i></a>
                    <div ng-repeat="comment in comments">
                        <label for="comment">Comments</label>
                        <input type="text" name="comment" ng-model="clone.comment" placeholder="comment" validate>
                        <span ng-show="">{{newComment.comment}}</span>
                        <button>Save</button>

                    </div>
                </div>

                <div ng-repeat="post in posts">
                    <h1><div class="title">
                    <span class="sortorder" ng-show="propertyName==='title'">{{post.title}}</span>
                </div></h1>

                    <div>
                        <span>{{post.author}}</span>

                    </div>

                    <div>
                        <span>{{post.img}}</span>

                    </div>

                    <div>
                        <span>{{post.description}}</span>

                        <h3><i class="fa fa-calendar" aria-hidden="true"></i> Created: {{rightNow|date:"fullDate"}}</h3>
                        <i class="fa fa-comment" aria-hidden="true"> Comments </i>
                        <i class="fa fa-pencil" aria-hidden="true"> Add Comments</i>

                    </div>
                </div>

            </div>
        </div>
    </body>

</html>
