<!DOCTYPE html>
<html lang="en" ng-app="clone">

    <head>
        <meta charset="utf-8">
        <!-- movile friendly -->
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Reddit Clone</title>
        <!-- angularjs -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.js"></script>

        <!-- jquery -->
        <script src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>
        <!-- bootstrap -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" charset="utf-8"></script>
        <!-- fontawesome -->
        <script src="https://use.fontawesome.com/405a0adae2.js"></script>

        <script src="app.js" charset="utf-8"></script>
        <link rel="stylesheet" href="style.css">
    </head>

    <body>
        <div ng-controller="redditClone as clone">
            <header>
                <nav class="navbar navbar-default">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="#">Reddit Clone</a>
                        </div>

                        <div class="collapse navbar-collapse" id="navbar-collapse-1">
                            <!-- submit post button -->
                            <ul class="nav navbar-nav">
                                <button class="btn btn-primary" ng-model="showMe" ng-click="generate()"><a href="#" role="button"><i class="fa fa-plus" aria-hidden="true"></i> Submit Post</a></button>

                            </ul>
                            <!-- search by -->
                            <form class="navbar-form navbar-left" role="search">
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <i class="fa fa-search"></i> </div>
                                        <input type="text" class="form-control" placeholder="Search" ng-model="searchPost">
                                    </div>
                                </div>
                            </form>
                            <ul class="nav navbar-nav navbar-right">
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    Sort By  <span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#" ng-click="sortBy('vote')">vote</a></li>
                                        <span class="sortorder" ng-show="propertyName === 'vote'" ng-class="{reverse: reverse}"></span>

                                        <li><a href="#" ng-click="sortBy('date')">Date</a></li>
                                        <span class="sortorder" ng-show="propertyName === 'date'" ng-class="{reverse: reverse}"></span>

                                        <li><a href="#" ng-click="sortBy('title')">Title</a></li>
                                        <span class="sortorder" ng-show="propertyName === 'title'" ng-class="{reverse: reverse}"></span>

                                    </ul>
                                </li>
                                <li>
                                    <a href="#" ng-click="reverse=!reverse"></a>
                                    <span ng-if="!reverse" class="glyphicon glyphicon-chevron-up"></span>
                                    <span ng-if="reverse" class="glyphicon glyphicon-chevron-up"></span>

                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </header>
            <!-- new Post form -->
            <form name="userForm" ng-if="showMe" class="my-form" ng-hide="userForm.$submitted">

                <div class="form-group">
                    <label for="title">Title: </label>
                    <span class="error" ng-show="userForm.title.$error.minlength" ng-class="{'has-error': userForm.title.$invalid && !userForm.title.$pristine, 'has-success': userForm.title.$valid}">A Title is Required to be at least 3 characters</span>
                    <input type="text" class="form-control" name="title" id="title" ng-model="clone.title" ng-minlength="3" placeholder="Title" required>

                    <label for="author">Author</label>
                    <span class="error" ng-show="userForm.author.$error.required.$touched">An author is Required </span>
                    <input type="text" class="form-control" name="author" id="author" ng-model="clone.author" placeholder="Author" required>

                    <label for="img">Image Url</label>
                    <span class="error" ng-show="userForm.img.$error.required.$touched ">Please introduce a valid URL </span>
                    <input type="url" class="form-control" name="img" id="img" ng-model="clone.img" placeholder="Image Url" required>


                    <label for="description">Description</label>
                    <input type="text" class="form-control" name="description" id="description" ng-model="clone.description" ng-minlength="3" ng-maxlength="200" placeholder="Description" required>
                    <span class="error" ng-show="userForm.description.$error.required.$touched">A description is Required </span>
                    <span class="error" ng-show="userForm.description.$error.minlength">A description has to be at least 3 characters </span>
                    <span class="error" ng-show="userForm.description.$error.maxlength">The description can't be longer than 200 characters </span>
                    <button ng-click="addPost()" class="btn btn-primary" type="submit" ng-disabled="userForm.$pristine">Submit Post</button>
                </div>

            </form>

            <!-- display posts -->
            <div class="container">
                <div class="jumbotron middle" ng-repeat="post in posts | orderBy:'title':reverse | filter:searchPost">
                    <div class="media">
                        <div class="media-heading">
                            <!-- show title -->
                            <h3><div class="title "><span class="sortType">{{post.title}}</span></div></h3>
                            <!-- show author -->
                            <div><span class="sortType pull-right">Created by: {{post.author}}</span></div>
                        </div>

                        <!-- show img -->
                        <div><img class="img-responsive media-object media-left" ng-src="{{post.img}}" alt=""></div>
                        <div class="media-body">

                            <!-- show description -->
                            <div><span>{{post.description}}</span>
                                <div class="media-body" ng-model="view.enterCount">
                                    <p><i ng-click="view.enterCount = view.enterCount + 1" class="fa fa-thumbs-up" aria-hidden="true"></i>
                                        <i ng-click="view.enterCount = view.enterCount - 1" class="fa fa-thumbs-down" aria-hidden="true"></i>
                                        <span ng-class="{'text-info': view.enterCount >0, 'text-danger': view.enterCount<0}"> {{view.enterCount}}</span></p>
                                </div>

                                <!-- display date -->
                                <h3><i class="fa fa-calendar" aria-hidden="true"></i> Created: {{date | date:"fullDate"}}</h3>
                            </div>

                            <!-- new comment -->
                            <div>
                                <a><i class="fa fa-pencil" aria-hidden="true" ng-model="littleComment" ng-click="hideComment()"> Add Comments</i></a>
                                <a>| <i class="fa fa-comment" aria-hidden="true"> {{view.enterCount2 }} Comments </i></a>
                                <form name="commentsForm" class="newComment" ng-show="littleComment" novalidate>
                                    <label for="comment">Comments: </label>
                                    <input type="text" class="form-control" name="commentBy" id="commentBy" ng-model="clone.commentBy" placeholder="Comment By" required>
                                    <input type="text" class="form-control" name="comment" id="comment" ng-model="clone.comment" placeholder="comment" required>
                                    <button ng-click="addComment()" ng-class="view.enterCount2" type="submit"> Add comment</button>
                                </form>
                                <!-- display comments -->
                                <div ng-repeat="comment in comments">
                                    <p class="comment"><span>Comment made by: {{comment.commentBy}}</span></p>
                                    <p class="comment"><span>Comment: {{comment.comment}}</span></p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </body>

</html>
