.middle{
  padding: 30px;
  margin: 30px;
}

.media-object{
  height: 100px;
  width: auto;
}

.my-form{
  transition: all linear 0.5s;
  background: transparent;
  padding:20px;
  margin:20px;
}

.error{
  color: red;
}

a:link,a:hover, a:visited, a:active{
  color: white;
  text-decoration: none;
}
.btn{
  padding: 7px;
  margin: 7px;
}

.fa-thumbs-up{
  color:blue;
}

.fa-thumbs-down{
  color:red;
}

.comment{
  color:green;
  font-size: 10px;
}

.img-responsive{
  height: 400px;
  width: auto;
  padding: 20px;
  justify-content: center;
}
