.middle{
  padding: 30px;
  margin: 30px;
}

.media-object{
  height: 100px;
  width: auto;
}

.my-form{
  transition: all linear 0.5s;
  background: transparent;
  padding:20px;
  margin:20px;
}



.error{
  color: red;
}

a:link,a:hover, a:visited, a:active{
  color: white;
  text-decoration: none;
}
.btn{
  padding: 7px;
  margin: 7px;
}

.fa-thumbs-up{
  color:blue;
}

.fa-thumbs-down{
  color:red;
}

.comment{
  color:green;
  font-size: 10px;
}

.img-responsive{
  height: 400px;
  width: auto;
  padding: 20px;
  justify-content: center;
}

.ng-enter {
  transition:0.4s ease all;
  opacity:0;
  transform:translateX(-100%);
}

.ng-enter.ng-enter-active {
  opacity:1;
  transform:translateX(0);
}

.ng-leave {
  transition:0.4s ease all;
  opacity:1;
  transform:translateX(0);
}

.ng-leave.ng-leave-active {
  opacity:0;
  transform:translateX(-100%);
}

.ng-enter-stagger, .ng-leave-stagger {
  transition-delay: 0.2s;
  transition-duration:0;
}
